body{
    background-color: rgb(230, 230, 230);
    overflow: hidden;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr{
    margin: 1cm;
}

.nav-indicator{
    border-bottom: solid black 4px;
}

.nav-mediaquerys-indicator{
    border-right: solid gray 9px;
}

*::selection{
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
}


/* header */
header{
    padding: 2mm;
    background-image: url("https://cdn.pixabay.com/photo/2014/07/28/20/39/dusk-404072_960_720.jpg"); background-repeat: no-repeat;
    background-position: center; background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    position: absolute;
    top: 1mm;
    left: 1mm;
    width: 2.1cm;
}

.logo:hover{
    opacity: 75%;
}

/* header - end */


/* nav */
nav{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 3mm;
    background-color: transparent;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration-line: none;
    color: black;
    font-size: large;
    font-weight: 500;
    padding: 2mm;
    margin: 5mm;
    transition: all .2s;
}

nav ul li a:hover{
    border-bottom: solid black 4px;
}

nav button{
    display: none;
    outline: none;
    background-color: transparent;
    border: none;
}

nav img{
    width: 1.3cm;
}

.nav-mediaquerys{
    position: fixed; top: 0px; left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    display: none;
}

.nav-mediaquerys--show{
    display: block;
}

.nav-buttonclose-container{
    background-color: black;
    padding: 6mm;
    display: flex;
    align-items: center;
    animation: nav-buttonclose-container .5s;
}

@keyframes nav-buttonclose-container{
    0%{
        margin-right: 100%;
    }
    100%{
        margin-left: 0px;
    }
}

.nav-buttonclose-container input{
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    right: 2mm;
    padding: 1mm;
    font-size: 20px;
    font-weight: 300;
    animation: nav-buttonclose-container .5s;
}

.nav-ul-li-container{
    background-color: rgb(10, 10, 10);
    width: 50%;
    height: 100%;
    padding: 2mm;
    text-align: center;
    animation: nav-ul-li-container .7s;
}

@keyframes nav-ul-li-container{
    0%{
        margin-left: -100vh;
    }
    100%{
        margin-left: 0px;
    }
}

.nav-mediaquerys ul li a{
    background-color: rgb(15, 15, 15);
    display: block;
    padding: 2mm;
    margin-bottom: 2mm;
    border-radius: 0.2cm;
    text-decoration-line: none;
    color: white;
}

.nav-mediaquerys ul li a:active{
    background-color: rgb(20, 20, 20);
}

@media(max-width: 905px){
    nav ul{
        display: none;
    }

    nav button{
        display: block;
    }
}
/* nav - end */


/* section1 */
section{
    background-color: white;
    border-radius: 0.2cm;
    text-align: center;
    margin: 3mm;
}

section h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 2mm;
    border-top-left-radius: 0.2cm;
    border-top-right-radius: 0.2cm;
    cursor: default;
}

section p{
    padding: 3mm;
    padding-bottom: 0mm;
}

section ul{
    list-style: none;
    padding: 3mm;
}

section ul li a{
    background-color: transparent;
    padding: 2mm;
    color: black;
    text-decoration-line: none;
    display: flex;
    align-items: center;
    width: max-content;
    border: solid black 1px;
    border-radius: 0.3cm;
    opacity: 75%;
    transition: all .2s;
}

section ul li a:hover{
    opacity: 100%;
}

section ul li a img{
    margin-right: 1mm;
}