body{
    background-color: rgb(230, 230, 230);
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr{
    margin: 1cm;
}

.nav-indicator{
    border-bottom: solid white 4px;
}

.nav-mediaquerys-indicator{
    border-right: solid black 9px;
}

*::selection{
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
}


/* header */
header{
    padding: 2mm;
    background-image: url("img/mis-fotos/sunset-5801050_1920.jpg"); background-repeat: no-repeat;
    background-position: center; background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    position: absolute;
    top: 1mm;
    left: 1mm;
    width: 2.1cm;
}

.logo:hover{
    opacity: 75%;
}

header h1{
    color: white;
    font-size: 70px;
    text-shadow: 0px 5px 10px black;
    transition: all .2s;
    margin: 3mm;
    text-align: center;
}

@media(max-width: 905px){
    header h1{
        font-size: 60px;
    }
}

@media(max-width: 471px){
    header h1{
        font-size: 55px;
    }
}

@media(max-width: 343px){
    header h1{
        font-size: 50px;
    }
}
/* header - end */


/* nav */
nav{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 3mm;
    background-color: transparent;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration-line: none;
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 2mm;
    margin: 5mm;
    transition: all .2s;
}

nav ul li a:hover{
    border-bottom: solid white 4px;
}

nav button{
    display: none;
    outline: none;
    background-color: transparent;
    border: none;
}

nav img{
    width: 1.3cm;
}

.nav-mediaquerys{
    position: fixed; top: 0px; left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    display: none;
}

.nav-mediaquerys--show{
    display: block;
}

.nav-buttonclose-container{
    background-color: white;
    padding: 6mm;
    display: flex;
    align-items: center;
    animation: nav-buttonclose-container .5s;
}

@keyframes nav-buttonclose-container{
    0%{
        margin-right: 100%;
    }
    100%{
        margin-left: 0px;
    }
}

.nav-buttonclose-container input{
    background-color: transparent;
    border: none;
    color: black;
    position: absolute;
    right: 2mm;
    padding: 1mm;
    font-size: 20px;
    font-weight: 300;
    animation: nav-buttonclose-container .5s;
}

.nav-ul-li-container{
    background-color: rgb(235, 235, 235);
    width: 50%;
    height: 100%;
    padding: 2mm;
    text-align: center;
    animation: nav-ul-li-container .7s;
}

@keyframes nav-ul-li-container{
    0%{
        margin-left: -100vh;
    }
    100%{
        margin-left: 0px;
    }
}

.nav-mediaquerys ul li a{
    background-color: rgb(210, 210, 210);
    display: block;
    padding: 2mm;
    margin-bottom: 2mm;
    border-radius: 0.2cm;
    text-decoration-line: none;
    color: black;
}

.nav-mediaquerys ul li a:active{
    background-color: rgb(20, 20, 20);
}

@media(max-width: 905px){
    nav ul{
        display: none;
    }

    nav button{
        display: block;
    }
}
/* nav - end */


/* section1 */
.galeria-de-fotos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5mm;
}

.imagenes{
    width: 7cm;
    margin: 1mm;
}

@media(max-width: 326px){
    .imagenes{
        width: 100%;
        margin-bottom: 5mm;
    }
}
/* section1 - end */


/* footer */
footer{
    background-color: black;
    color: white;
    height: 3cm;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: rgb(128, 128, 128);
}

footer p::selection{
    background-color: rgba(255, 255, 255, 0.329);
    color: black;
}

footer a{
    position: absolute;
    margin-top: 1.4cm;
}
/* footer - end */